framework:
    messenger:
        default_bus: command.bus
        buses:
            command.bus:
                middleware:
                    - validation
            sync.command.bus:
                middleware:
                    - validation
            async.command.bus:
                middleware:
                    - validation
            async.priority.command.bus:
                middleware:
                    - validation
            query.bus:
                middleware:
                    - validation
            event.bus:
                default_middleware:
                    enabled: true
                    allow_no_handlers: false
                    allow_no_senders: true
                middleware:
                    - validation
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: 'async'
                        type: 'direct'
                    queues:
                        async: ~
                retry_strategy:
                    max_retries: 0
            async.priority:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: 'async.priority'
                        type: 'direct'
                    queues:
                        async.priority: ~
                retry_strategy:
                    max_retries: 0

        routing:
            'App\Shared\Application\Command\AsynchronousPriorityInterface': async.priority
            'App\Shared\Application\Command\AsynchronousInterface': async